{% extends "../base.html" %}
{% block content %}
<div class="row px-md-3 card-body p-1 bg-glass shadow border-radius-xl my-5 mb-3 mx-3">
    <div class="container px-1 py-1 px-md-5 text-center text-lg-start my-5">
        <div class="row">
            <div class="col-md-6">
                <a style="z-index: 100">
                    <h1 class="my-0 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        Project title ..!!
                        <br>
                        <span style="color: hsl(218, 81%, 75%)" class="mb-4">{{ project.title }} </span>
                    </h1>
                    
                    <p class="mb-2 opacity-70" style="color: hsl(218, 81%, 85%)">
                       
                        </a>
                    </p>
                    <p class="mb-2 opacity-70" style="color: hsl(218, 81%, 85%)">
                       Technology :   <a class="mb-2 text-secondary"> {{ project.technology }}  
                        </a>
                    </p>
                    <p class="mb-2 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Estimated Time Duration :  <a class="mb-2 text-secondary"> {{ project.estimated_hours }} Hours
                    </a>
                    <p class="mb-2  opacity-70" style="color: hsl(218, 81%, 85%)">
                        Durations : 
                        <a class="mb-2 text-secondary"> {{  project.startDate }} to {{ project.endDate }}
                        </a>
                        </p>
                        <p class="mb-2 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Team members:
                            <a class="mb-2 text-secondary">
                               
                            {% for team_member in team_members %}
                                {% for user in team_member.users.all %}
                                    <li>{{ user }}</li>
                                {% endfor %}
                            {% endfor %}
                            </a>
                            {% comment %} <a href="{% url 'module_create' project.id %}"class="btn btn-dark text-secondary font-weight-bold text-xs mt-0 mb-0 btn btn-outline-gray">CREATE TASK</a> {% endcomment %}



                    <p class="mb-2 opacity-70" style="color: hsl(218, 81%, 85%)">
                        Description : <a class="mb-2 text-secondary"> {{ project.description }}
                    </a>
                </p>
            
            </div>
            <div class="col-md-4">
                <div class="row gx-lg-10 align-items-center mb-51 justify-content-center">
                    <div class="lg:max-w-lg lg:w-full md:w-1/1 w-5/6">
                        <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/500x480/?programming">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
